html, body {
  background: #20c997;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
* {
  box-sizing: border-box;
}
#main {
    height: 100%;
	float:left;
}

#content{
    background-color:#83ECCC;
    position:absolute;
    width:200px;
	height: 85%;
    top:50px;
    bottom:0px;
	border: 5px #41E1B1 solid;
	padding: 6px;
	border-radius: 20px;
}

#sub{
	position:relative;
	left:250px;
}

:root {
  --background: #E5FFB3;
  --background-accent: #DBF8A3;
  --background-accent-2: #BDE66E;
  --light: #92DE34;
  --dark: #69BC22;
  --text: #025600;
  --red: #930000;
}

button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 300px;
  height: 35px;
  border-radius: 30px;
  font-size: 1.0rem;
  font-weight: 600;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
}

button:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    var(--dark) 10% 20%,
    transparent 20% 30%,
    var(--dark) 30% 40%,
    transparent 40% 50%,
    var(--dark) 50% 60%,
    transparent 60% 70%,
    var(--dark) 70% 80%,
    transparent 80% 90%,
    var(--dark) 90% 100%
  );
  animation: background 3s linear infinite;
}


button:disabled, button[disabled] {
  border: 1px solid #999999;
  background-color: #930000;
  box-shadow: 0 0 0 7px var(--red) inset;
  color: #666666;
}


@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}