<!DOCTYPE html>
<html>
<head>
    <title>修復建議 | 分配</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<div>
    <div class="div_top">
        <h2>分配修復建議</h2>
    </div>
    <br>
    <div>

        <form action="/button_solution_select" method="post">
            <label>測試項目:</label><br>
            <select name="issue_id">
                <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                {% for i in issue_list %}
                <option value="{{ i[0] }}">{{ i[0] }} | {{ i[1] }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label>修復建議:</label><br>
            <select name="advice_id">
                <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                {% for j in advice_list %}
                <option value="{{ j[0] }}"{{j[2]}}>{{ j[0] }} | {{ j[1] }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <div>
                <div style="height:10px"></div>
                <a href="{{url_for('index')}}" style="color:black;">
                    <button class="button_bar">返回</button>
                </a>
            </div>
            <div>
                <div style="height:5px"></div>
                <button id="select_button_issue" type="submit" class="button_select">確定</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>