<!DOCTYPE html>
<html>
<head>
    <title>檢測項目 | 移除</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<div>
    <div class="div_top">
        <h2>移除測項</h2>
    </div>
    <div><br><label>{{temp_label}}</label><br></div>
</div>

<div>
    <label>檢測項目:</label><br>
    <form action="/button_remove" onsubmit="return confirm('確定要刪除?');" method="post">
        <select name="issue_id">
            <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
            {% for i in issue_list %}
            <option value="{{ i[0] }}">{{ i[0] }} | {{ i[1] }} | {{ i[6] }}</option>
            {% endfor %}
        </select>
        <button id="select_button" type="submit" class="button_select">確定</button>
    </form>
    <br>
    <div>
        <a href="{{url_for('index')}}">
            <button class="button_bar">返回</button>
        </a>
    </div>
</div>

</body>
</html>