<!DOCTYPE html>
<html lang="en">
<head>
    <title>首頁</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<br>
<br>
<br>
<br>
<div class="div_title">
    <div style="font-size:100px;">Cymetrics</div>
    <div style="height:0px;"></div>
    <label style="font-size:30px;height:20px;">檢測資料庫</label>
</div>
<br>
<div class="div_buttion_group_title">1. 維護功能:</div>
<div class="div_button_group">
    <a href="/update_setting" style="color:black;">
        <div class="div_button">
            <label>分數更新</label>
        </div>
    </a>
</div>
<div class="div_buttion_group_title">2. 檢測項目:</div>
<div class="div_button_group">
    <a href="/issue_add" style="color:black;">
        <div class="div_button">
            <label>新增</label>
        </div>
    </a>
    <a href="/issue_edit" style="color:black;">
        <div class="div_button">
            <label>編輯</label>
        </div>
    </a>
    <a href="/issue_remove" style="color:black;">
        <div class="div_button">
            <label>移除</label>
        </div>
    </a>
</div>

<div class="div_table">
    <table class="table1">
        <thead>
        <tr>
            <th>ID</th>
            <th>中文名稱</th>
        </tr>
        </thead>
        <tbody>
        {% for i in issue_list %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="div_button_group">
    <a href="/solution_add" style="color:black;">
        <div class="div_button">
            <label>新增修復建議</label>
        </div>
    </a>
    <a href="/solution_edit" style="color:black;">
        <div class="div_button">
            <label>編輯修復建議</label>
        </div>
    </a>
    <a href="/solution_delete" style="color:black;">
        <div class="div_button">
            <label>移除修復建議</label>
        </div>
    </a>
    <a href="/solution_select" style="color:black;">
        <div class="div_button">
            <label>分配修復建議</label>
        </div>
    </a>
</div>
<div class="div_button_group">
    <a href="/type_add" style="color:black;">
        <div class="div_button">
            <label>新增測項分類</label>
        </div>
    </a>
    <a href="/type_edit" style="color:black;">
        <div class="div_button">
            <label>編輯測項分類</label>
        </div>
    </a>
    <a href="/type_remove" style="color:black;">
        <div class="div_button">
            <label>移除測項分類</label>
        </div>
    </a>
    <a href="/type_select" style="color:black;">
        <div class="div_button">
            <label>分配測項分類</label>
        </div>
    </a>
</div>
<div class="div_button_group">
    <a href="/group_add" style="color:black;">
        <div class="div_button">
            <label>新增類型組別</label>
        </div>
    </a>
    <a href="/group_edit" style="color:black;">
        <div class="div_button">
            <label>編輯類型組別</label>
        </div>
    </a>
    <a href="/group_remove" style="color:black;">
        <div class="div_button">
            <label>移除類型組別</label>
        </div>
    </a>
    <a href="/group_select" style="color:black;">
        <div class="div_button">
            <label>分配類型組別</label>
        </div>
    </a>
</div>


</body>
</html>