<!DOCTYPE html>
<html>
<head>
    <title>分類標籤 | 新增</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<div>
    <div class="div_top">
        <h2>新增標籤</h2>
    </div>
    <div><br><label>{{temp_label}}</label><br></div>
    <label>檢測項目:</label><br>
    <form action="/select_issue_tag" method="post">
        <select name="issue_id">
            <option selected="selected" disabled="disabled" style='display: none' value=''></option>
            {% for i in issue_list %}
            <option value="{{ i[0] }}" {{ i[11] }}>{{ i[0] }} | {{ i[1] }} | {{ i[6] }}</option>
            {% endfor %}
        </select>
        <button id="select_button" type="submit" class="button_select">確定</button>
    </form>
    <br>
    <div>
        <a href="{{url_for('index')}}" style="color:black;">
            <button class="button_bar">返回</button>
        </a>
    </div>
</div>
<div>
    <form action="/button_tag_add" method="post">
        <div>
            <button class="button_bar" type="submit">送出</button>
        </div>
        <br>
        <br>
        <br>
        <div class="div_float">
            <label>新標籤名稱:</label>
            <br>
            <input type="text"
                   id="tag_name"
                   name="tag_name"
                   value=""
                   maxlength="64"
                   required/>
            <br>
        </div>
        <div class="div_float" style="width: 65%; height: auto;">
            <p>當前測項分類標籤:</p>
            {% for i in tag_list %}
            <div class="div_tag" style="width: auto;">
                <label style="font-size:15px;">{{ i[2] }}</label>
            </div>
            {% endfor %}
        </div>
        <div><input type="hidden" id="hide_id" name="hide_id" value="{{input_id}}"></div>
        <br>
        <br>
        <br>

    </form>
</div>

</body>
</html>