<!DOCTYPE html>
<html>
<head>
    <title>參考連結 | 移除</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<div>
    <div class="div_top">
        <h2>移除連結</h2>
    </div>
    <div><br><label>{{temp_label}}</label><br></div>
    <label>檢測項目:</label><br>
    <form action="/select_issue_reference_remove" method="post">
        <select name="issue_id">
            <option selected="selected" disabled="disabled" style='display: none' value=''></option>
            {% for i in issue_list %}
            <option value="{{ i[0] }}" {{ i[11] }}>{{ i[0] }} | {{ i[1] }} | {{ i[6] }}</option>
            {% endfor %}
        </select>
        <button id="select_button" type="submit" class="button_select">確定</button>
    </form>
    <br>
    <label>參考連結:</label><br>
    <form action="/button_reference_remove" method="post" onsubmit="return confirm('確定要刪除?');">
        <div><input type="hidden" id="hide_id" name="hide_id" value="{{input_id}}"></div>
        <select name="reference_id">
            {% for i in reference_list %}
            <option value="{{ i[0] }}">{{ i[2] }} | {{ i[3] }}</option>
            {% endfor %}
        </select>
        <button id="select_reference_button" type="submit" class="button_select">確定</button>
    </form>
    <br>
    <div>
        <a href="{{url_for('index')}}" style="color:black;">
            <button class="button_bar">返回</button>
        </a>
    </div>
</div>
</body>
</html>