<!DOCTYPE html>
<html>
<head>
    <title>修復建議 | 修改</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
<div>
    <div class="div_top">
        <h2>修改修復建議</h2>
    </div>
    <br>
    <div>
        <label>修復建議:</label><br>
        <form action="/solution_edit_select" method="post">
            <select name="advice_id">
                <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                {% for i in advice_list %}
                <option value="{{ i[0] }}"{{i[2]}}>{{ i[0] }} | {{ i[1] }}</option>
                {% endfor %}
            </select>
            <button id="select_button" type="submit" class="button_select">確定</button>
        </form>
    </div>
    <br>
    <div>
        <a href="{{url_for('index')}}" style="color:black;">
            <button class="button_bar">返回</button>
        </a>
    </div>
</div>
<div>
    <form action="/button_solution_edit" method="post" class="contact-form">
        <div><input type="hidden" id="hide_id" name="hide_id" value={{input_id}}></div>
        <div>
            <button class="button_bar" type="submit">送出</button>
        </div>
        <br>
        <br>
        <br>
        <div class="div_float">
            <label class="label_title">中文顯示名稱:</label>
            <br>
            <br>
            <input type="text"
                   id="name_zh"
                   name="name_zh"
                   value="{{input_name_zh}}"
                   maxlength="64"
                   style="width:96%;"
                   class="form-control"
                   required/>
            <br>
            <br>
            <label>選擇修復建議時的選項名稱(中文)</label>
        </div>
        <div class="div_float">
            <label class="label_title">英文顯示名稱:</label>
            <br>
            <br>
            <input type="text"
                   id="name_en"
                   name="name_en"
                   value="{{input_name_en}}"
                   maxlength="64"
                   style="width:96%;"
                   class="form-control"
                   required/>
            <br>
            <br>
            <label>選擇修復建議時的選項名稱(英文)</label>
        </div>
        <div style="height:205px"></div>
        <div class="div_float" style="width:45%; height:250px">
            <label class="label_title">中文修復建議:</label>
            <br>
            <br>
            <textarea id="solution_zh" name="solution_zh" style="width:99%; height:83%" maxlength="1024" required>{{input_solution_zh}}</textarea>
        </div>
        <div class="div_float" style="width:45%; height:250px">
            <label class="label_title">英文修復建議:</label>
            <br>
            <br>
            <textarea id="solution_en" name="solution_en" style="width:99%; height:83%" maxlength="1024" required>{{input_solution_en}}</textarea>
        </div>
        <br>
    </form>
</div>

</body>
</html>